.navbar-section {

	position: fixed;
	top: 0;
	height: 70px;
	width: 100%;
	background-color: #252728;
    box-shadow: 0px 0px 10px #888888;
    z-index: 1;
}

.navbar {

	li {
	position: relative;
	height: 50px;
	padding-right: 50px;
	padding-top: 15px;
	float: right; 
	list-style: none;
	display: inline;
	}

	a {

		text-decoration: none;

	}

	a:link {

		color: #dbdbdb;

	}
	a:visited {

		color: #dbdbdb;
	}
	a:active {

		color: #dbdbdb;
	}

	a:hover {

		color: #fff;

	}
}

